# Ignore everything in this directory
text/*
nc/*
map/*
plot/*
Pocono_TEST1/example_CHRTOUT/*
Pocono_TEST1/example_RESTART/*
# Except for these empty folders
!text/.gitkeep
!map/.gitkeep
!plot/.gitkeep
!nc/.gitkeep
!Pocono_TEST1/example_CHRTOUT/.gitkeep
!Pocono_TEST1/example_RESTART/.gitkeep
#
